.wrapper {
  border-radius: 20px;
  background-color: var(--surface1);
}

.content {
  padding: 64px 64px 32px;
}

.contentHeader {
  font-size: var(--font-title3-size);
  font-weight: var(--font-weight-bold);
  margin-bottom: 8px;
}
