.wrapper {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 8px 12px;
  border-radius: 999px;
  background-color: var(--muted);
}

.errorWrapper {
  background-color: var(--red-050);
}

.message {
  margin-left: 8px;
}

.message.errorMessage {
  color: var(--red-110);
}
