.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.left {
  font-size: var(--font-regular14-size);
  font-weight: var(--font-weight-bold);
  color: var(--muted);
}

.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
